<div>
    <div v-if="!context.slyDatasetId">
        <sly-select-team-workspace :team-id.sync="state.teamId" :workspace-id.sync="state.workspaceId" />
    </div>

    <div v-if="context.slyDatasetId">
        <sly-select-team-workspace :team-id.sync="state.teamId" :workspace-id.sync="state.workspaceId" />
        <sly-select-project :workspace-id="state.workspaceId" :project-id.sync="state.projectId" />
    </div>

    <div v-if="!context.slyDatasetId">
        <sly-field title="Result Project Name"
            description="Enter project name manually (optional) or keep empty to generate it automatically based on the current name.">
            <el-input placeholder="Enter Project Name" v-model="state.projectName"></el-input>
            <i v-if="/[\/|\\]/.test(state.projectName)" class="zmdi zmdi-alert-triangle mt5 mb5" style="color: #962121"></i>
            <span v-if="/[\/|\\]/.test(state.projectName)" class="mt5 mb5" style="color: #962121;">
                Invalid symbols in the project name (|, /, or \).
            </span>
        </sly-field>
    </div>

    <div v-if="context.slyDatasetId">
        <sly-field title="Result Dataset Name"
            description="Enter dataset name manually (optional) or keep empty to generate it automatically based on the current name.">
            <el-input placeholder="Enter Dataset Name" v-model="state.datasetName"></el-input>
        </sly-field>
    </div>
</div>